.draggable-table-container {
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  position: relative;

  .react-grid-layout {
    overflow-y: auto;
    width: calc(100% - 20px);
    margin: 10px 10px;
    border: 1px solid #000000;
  }

  .react-grid-item:not(.react-grid-placeholder) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .react-grid-item.react-grid-placeholder {
    background: rgba(0, 0, 0, 0.6);
  }

  .transparent-item-container {
    background-color: transparent;
    border: 1px solid transparent;
  }

  .grid-item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    .prefix {
      white-space: nowrap;
      //margin-right: 5px;
    }

    .input {
      flex: auto;
      border-bottom: 1px solid #000000;
    }

    .suffix {
      white-space: nowrap;
    }
  }

  .separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    position: absolute;
    width: calc(100% - 20px);

    .separator {
      min-height: 1px;
      max-height: 1px;
      background: #000000;
      width: 100%;
    }
  }
}
