.cursor {
  cursor: pointer;
}
.title {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Helvetica,Hiragino Sans GB,Microsoft Yahei,微软雅黑,Arial,sans-serif';
}
.canvas {
  width: 100%;
  // height: calc(100% - 40px);
  height: 100%;
}
.base_card {
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}
.design_card {
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.3);
  // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  // box-shadow: 0 3px 8px hsla(0,0%,51.8%,.26);
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}
.emptymask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.loadmask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
}
