.low-code-container {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 100%;
  width: 100%;

  .left-container {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .middle-container {
    display: flex;
    flex: 1;
    border: 10px solid rgb(238, 242, 255);
  }

  .right-container {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}
